.bottomBarWrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(56, 56, 56);
}

.innerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr;
}

.previousParagraphButton {
  background-color: transparent;
  border: none;
  padding: 20px;
}
.previousSentenceButton {
  background-color: transparent;
  border: none;
  padding: 20px;
}
.pausePlayButton {
  background-color: transparent;
  border: none;
  padding: 20px;
}
.skipParagraphButton {
  background-color: transparent;
  border: none;
  padding: 20px;
}

.basicButtonImage {
  width: 50px;
  height: 50px;
}

.pausePlayButtonImage {
  width: 50px;
  height: 50px;
}
